<!doctype html>
<html>

<head>
    <title>Virtual Thrifting App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">

        <div class="container-lg">
            <h1>PACA</h1>
            <img src="img/login.webp" alt="">

            <p>Login or Signup:</p>

            <a href="/login" id="homebtn" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" id="homebtn2" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>

        <div class="container-lg" >
            <p>What does the app do?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora.</p>
            
        </div>

    </div>
</body>

</html>