<!doctype html>
<html>

<head>
    <title>BundleBazaar</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container">

        <div class="container-lg">
            <h1>BundleBazaar</h1>
            <img src="img/login.webp" alt="">

            <p>Login or Signup:</p>

            <a href="/login" id="homebtn" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            <a href="/signup" id="homebtn2" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        </div>

        <div class="container-lg" >
            <h1>What does the app do?</h1>
            <p>Welcome to Bundle Bazaar, the empowering app for women to buy and sell pre-loved clothes. Discover unique pieces, timeless classics, and trendy fashion finds. Chat directly with sellers for item details and styling suggestions. Trust our comprehensive verification system for a secure experienc</p>
            <p>Join Bundle Bazaar and embrace sustainable fashion with our vibrant community. Explore a wide selection of gently used clothing and connect with like-minded fashion enthusiasts. Whether you're decluttering your closet or searching for your next favorite outfit, Bundle Bazaar is your go-to destination for affordable and stylish finds. Experience the joy of fashion while making a positive impact on the environment.</p>


            <h4 id="signature">Yorelisa C</h4>
            
        </div>

    </div>
</body>

</html>