/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #7ebd91;
}

.header {
  background-color: #2a7e43;
  padding: 10px;
}

.navbar h1 {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color: white;
}
.navbar {
  background-color: #2a7e43;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ddd;
}

/* Chatbot container styles */
.join-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto; /* Center the container horizontally and add margin from the top */
  padding: 20px;
}

.join-header {
  background-color: #2a7e43;
  padding: 10px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.join-header h1 {
  font-size: 20px;
  margin: 0;
}

.form-control {
  margin-bottom: 15px;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control input[type="text"],
.form-control select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #2a7e43;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2a7e43;
}
