
body{
  background: #ffffff;
}

.navbar {
  background-color: #2a7e43;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navbar links */
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
  list-style-type: none;
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ddd;
}

/* Align items to the right */
.navbar .list-unstyle {
  display: flex;
  align-items: center;
}

.navbar .list-unstyle a {
  margin-left: 10px;
}



.containerb{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

body > div > div:nth-child(1){
  margin-right: 35px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  transform: translateY(-5px);
}
.card-body{
  background: #7ebd91;
  text-align: center;
}

/* NAV BAR ON SELLER SIDE */

nav{
  background-color: #2a7e43;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sellernavbar{
  display: flex;
  align-items: center;
}

.sellernavbar a:hover{
  background-color: #ddd;
}

