
body{
  background: #ffffff;
}

.navbar {
  background-color: #2a7e43;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navbar links */
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
  list-style-type: none;
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ddd;
}

/* Align items to the right */
.navbar .list-unstyle {
  display: flex;
  align-items: center;
}

.navbar .list-unstyle a {
  margin-left: 10px;
}



/* .containerb{
  display: flex;
  justify-content: center;
  margin-top: 30px;
} */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust the gap between cards as needed */
}

.card {
  flex: 1 1 20rem; /* Adjust the width of the cards as needed */
}

.containerb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  overflow-x: auto; /* Add horizontal scrollbar if needed */
  max-height: calc(100vh - 70px); /* Subtract navbar height from viewport height */
}

.card {
  margin-right: 35px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  transform: translateY(-5px);
  flex: 0 0 25%; /* Set the desired width of each card */
  max-width: 25%; /* Set the maximum width of each card */
}

#card{
  margin-right: 35px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  transform: translateY(-5px);
}
.card-body{ 
  background: #7ebd91;
  text-align: center;
}

/* NAV BAR ON SELLER SIDE */

nav{
  background-color: #2a7e43;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sellernavbar{
  display: flex;
  align-items: center;
}

#precio{
  color:white;
}

#cart1{
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color: white;
}

.sellernavbar a:hover{
  background-color: #ddd;
}

#trash{
  background-color: #7ebd91;
  border: #7ebd91;
}
#favorito{
  background: #2a7e43;
  border: none;
  right: -77px;
  top: 270px;
  z-index: 9999;
  cursor: pointer;
}

#purchase{
  background: #7ebd91;
    color: white;
    border: none;
    border-radius: 2px;
}

