body {
  overflow-x: hidden;

}

.noStyle {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.main-container {
  border: solid 1px;
  width: 180vh;
  margin: 0 auto;
  padding: 2rem 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 32px;
}

h1 {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color: white;
}

/* Reset default styles for ul */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* NAV BAR */
/* Style the navbar container */
/* .list-unstyle a  {
   
  } */
.navbar {
  background-color: #2a7e43;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the navbar links */
.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ddd;
}

/* Adding a Scroll bar to seller side   */

.sidebar {
  overflow-x: scroll;

}

.sidebar-inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.sidebar-inner .card {
  flex-shrink: 0;
  margin-right: 10px;
  width: 20rem;
}

.card-text {
  font-size: 16px;
  line-height: 1.4;
}

/* container for buyer's end  */
.navbar .list-unstyle {
  display: flex;
  align-items: center;
}

.navbar .list-unstyle a {
  margin-left: 10px;
}

#carrito {
  margin-left: -230%;
  font-size: 1.25rem;
}

.containerb {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  height: 78vh;
}

.containertwo {
  margin-left: 5%;
}

.card {
  width: 30rem;
}

.card-body {
  background: #7ebd91;
  ;
  text-align: center;
}

.card .box:hover {
  transform: translateY(-5px);
}

.section-title {
  text-align: center;
}

body>div.containertwo>div {
  justify-content: center;
  margin-top: 2%;
}

.image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}

/* seller */

form {
  background:#7ebd91;
  border-radius: 6px;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 2%;

}

.container {
  padding-right: 0%;
  padding-bottom: 3%;
}

#formbtn {
  background: #2a7e43;
  border: #2a7e43;
}



/* CART */

body > div:nth-child(3) > form{
  
  border: 1px solid black ;
  margin-right: 76%;
  height: 23%;
  margin-left: 2%;
}

#purchase{
  margin-bottom: 5%;
  margin-left: 5%;
}