body{
  overflow-x: hidden;
  
}

.noStyle{
  border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.main-container{
    border:solid 1px;
    width: 180vh;
    margin: 0 auto;
    padding: 2rem 5rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 32px;   
}
h1 {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color:white;
}

  /* Reset default styles for ul */
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  /* NAV BAR */
  /* Style the navbar container */
  /* .list-unstyle a  {
   
  } */
  .navbar {
    background-color: #6f8e30;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Style the navbar links */
  .navbar ul {
    display: flex;
    align-items: center;
  }

  .navbar li {
    margin-right: 10px;
  }

  .navbar a {
    color: #fafafa;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
  }

  .navbar a:hover {
    background-color: #ddd;
  }

  /* Align items to the right */
  .navbar .list-unstyle {
    display: flex;
    align-items: center;
  }

  .navbar .list-unstyle a {
    margin-left: 10px;
  }

  .containerb{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  
  .card{
    width: 30rem;
  }

  .card-body{
    background: #cfd8c1;
    text-align: center;
  }


/* .box .card{
    border: solid 1px;
    margin: 1rem 1rem;
    width: 25rem;
    padding: 1.5rem 1rem;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
   }
   */
  .card .box:hover {
    transform: translateY(-5px);
  }

.section-title{
    text-align:center;
}


.image{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
}